    
    @media screen and (min-width: 480px) {
      body {
       background-color: lightgreen;
                    }
       }
    
    
    body{ 
       max-width: 1020px;
       width: 100%;
       height: auto;      
      
      /* width: 1020px; */
      /* height: 850px; */
      margin: auto;
      background-image: url("flower4.jpg");
      background-size: cover;
      font-family: 'Times New Roman', Times, serif;


    }
    
    
    h1{font-size: 45px;color: red;
       text-align: center;
       border-bottom: 1px solid gray;
       margin: 0;
       padding: 20px;
       width: auto;
      }
    ol{border-right: 1px solid gray;
       width: 150px; 
       margin: 0;
       padding: 20px;
       }    
    #grid{display: grid;   
          grid-template-columns: 200px 1fr;
          
         
         } 
    #grid ol{padding-left: 33px}
    #grid ol li{font-size: 20px;
                font-weight: bold;}
    #grid #article{padding-left: 25px;
   color:rgba(104, 22, 22, 0.884)
   }
    
    img{width: 200px;
        float:right;
        padding-right:150px ;
        padding-bottom:30x;
       }

    

   